.resizable-card {
    z-index:9999;
    .card-body {
        overflow: auto;
    }
}

mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
}   

.resize-handle-top,
.resize-handle-bottom {
    position: absolute;
    height: 5px;
    cursor: row-resize;
    width: 100%;
}

.resize-handle-top {
    top: 0;
}

.resize-handle-bottom {
    bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
    position: absolute;
    height: 100%;
    cursor: col-resize;
    width: 5px;
}

.resize-handle-left {
    left: 0;
}

.resize-handle-right {
    right: 0;
}